@import "./maps/maps";

* {
    font-family: 'Dosis', sans-serif !important;
}

body {
    background: map-get($colors, 'black');
    color: map-get($colors, 'white');
}

.navigation {
    position: absolute;
    right: 15%;
    top: 50%;
    transform: translateY(-50%);

    * {
        cursor: pointer;
        font-family: 'Dosis', sans-serif;
    }
}